img {padding-left: 60px;
    padding-right: 60px;
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

/* Profile
--------------------*/
header{background-color: rgb(135, 223, 223);

}
/* Projects
--------------------*/
.Projects {background: rgb(160, 138, 223);}
.Projects a {color:purple;
text-decoration: none;
padding: 8px;
border-radius:4px;
}
.project-item img{float: left;}
/* Work Experience
--------------------*/
.work-experience {background: rgb(238, 213, 130);}

/* Education
--------------------*/
.education {background:rgb(134, 248, 210)}
/* In touch
--------------------*/
.in-touch {background:rgb(255, 104, 104)}

h1{text-align:center;
    font-style:normal;
    text-align:center;
    font-family: 'Courgette', cursive;
    padding: 10px;
    border: 5px rgb(130, 203, 231);
    margin:0;
    font-size: 100px;
    line-height:1;
    text-shadow:blueviolet 2px 2px;

}
h2{padding-left: 60px;
    padding-right: 60px;
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    font-size:50px;

}
p{padding-left: 60px;
    padding-right: 60px;
    text-align:center;
    border: 4px black;
    font-family: 'Roboto', sans-serif;
    

}
h3{padding-left: 60px;
    padding-right: 60px;
    text-align:center;
    font-family: fantasy;

}
*/

/* Global styles
--------------------*/


a{padding-left: 60px;
    padding-right: 60px;
    text-align:center;
    color:rgb(9, 9, 54);


}
a:link {
    color:rgb(151, 82, 82);
}
a:visited {
    color: rgb(184, 150, 150);
}
a:focus {
    outline: 1px solid black;
}
a:active {color:rgb(255, 255, 255)}
a:hover {
    text-decoration: yellowgreen;
}
.content-wrap {width:1000px;
margin: 0 auto;
padding:60px 0;}
ul{text-align: center;
list-style-position: inside;}

body {
    margin:0;
    font-size: 15px;
    line-height: 1.5;
}
html {box-sizing: border-box;
}
*, *before, *after {box-sizing: inherit;}


